<mat-sidenav-container class="scanner-shell" [hasBackdrop]="false">
    <mat-sidenav #searchPanel class="scanner-panel" [autoFocus]="false" [disableClose]="true" position="start">
        <div class="panel search">
            <mat-toolbar color="primary" class="mat-elevation-z4">
                <button mat-icon-button type="button" aria-label="Close search" (click)="searchPanel.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <span class="panel-title">Call search</span>
            </mat-toolbar>
            <div #scrollableSearch>
                <div>
                    <rdio-scanner-search #searchComponent></rdio-scanner-search>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav #selectPanel class="scanner-panel" [autoFocus]="false" [disableClose]="true" position="end">
        <div class="panel select">
            <mat-toolbar color="primary" class="mat-elevation-z4">
                <button mat-icon-button type="button" aria-label="Close selections" (click)="selectPanel.close()">
                    <mat-icon>close</mat-icon>
                </button>
                <span class="panel-title">Talkgroup filters</span>
            </mat-toolbar>
            <div #scrollableSelect>
                <div>
                    <rdio-scanner-select></rdio-scanner-select>
                </div>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="scanner-shell__content">
            <mat-toolbar color="primary" class="scanner-toolbar mat-elevation-z8">
                <button mat-icon-button type="button" aria-label="Open search"
                    (click)="openSearch(scrollableSearch, searchComponent)">
                    <mat-icon>search</mat-icon>
                </button>
                <div class="brand">
                    <span class="brand-title">Scan CT</span>
                    <span class="brand-subtitle">Connecticut statewide scanner</span>
                </div>
                <span class="spacer"></span>
                <button mat-icon-button type="button" aria-label="Start live feed" (click)="start()">
                    <mat-icon>play_circle</mat-icon>
                </button>
                <button mat-icon-button type="button" aria-label="Stop live feed" (click)="stop()">
                    <mat-icon>stop_circle</mat-icon>
                </button>
                <button mat-icon-button type="button" aria-label="Open selections"
                    (click)="openSelect(scrollableSelect)">
                    <mat-icon>tune</mat-icon>
                </button>
            </mat-toolbar>
            <rdio-scanner-main class="scanner-main"
                (openSearchPanel)="openSearch(scrollableSearch, searchComponent)"
                (openSelectPanel)="openSelect(scrollableSelect)"
                (toggleFullscreen)="toggleFullscreen()">
            </rdio-scanner-main>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>